<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj admina</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h2>🔑 Dodaj admina</h2>
        <form action="/dodaj_admina" method="post">
            <label for="username">Uporabniško ime:</label>
            <input type="text" id="username" name="username" required>

            <button type="submit">Potrdi</button>
        </form>

        <a href="/meni_admina">
            <button style="background-color: gray;">Nazaj</button>
        </a>
    </div>
</body>
</html>