<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prijava Admina</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h2>Prijava Admina</h2>
        <form action="/login_admina" method="post">
            <label for="username">Uporabniško ime:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Geslo:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Prijava</button>
        </form>

        <a href="/">
            <button style="background-color: gray;">Nazaj</button>
        </a>
    </div>
</body>
</html>