<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glavna Stran | Street Racer</title>
    <link rel="stylesheet" href="views/static/style.css">
</head>
<body class="home-page">
    <div class="overlay"></div>
    <div class="container">
        <center><h1>🏁 Dobrodošli v sistemu <span class="highlight">Street Racer</span>!</h1></center>
        <p class="subtitle">Izberite svojo vlogo za nadaljevanje:</p>

        <div class="button-group">
            <a href="views/login_uporabnika">
                <button class="main-btn">Vstop kot Uporabnik</button>
            </a>
            <a href="login_admina">
                <button class="main-btn">Vstop kot Admin</button>
            </a>
            <a href="https://github.com/MateoVrtunski/Street-racer">
                <button class="exit-btn">❌ Izhod</button>
            </a>
        </div>
    </div>
</body>
</html>
