<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prijava Uporabnika</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h2>Prijava Uporabnika</h2>
        <form action="login_uporabnik" method="post">
            <label for="username">Uporabniško ime:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Geslo:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Prijava</button>
        </form>

        <p>Še nimate računa? <a href="register_uporabnika.html">Registracija</a></p>

        <a href="index2.html"><button class="gray-btn">Nazaj</button></a>
    </div>
</body>
</html>
