<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Registracija</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h2>Registracija novega uporabnika</h2>


        <form action="register_uporabnika" method="POST">
            <label for="ime">Ime:</label>
            <input type="text" id="ime" name="ime" required>

            <label for="priimek">Priimek:</label>
            <input type="text" id="priimek" name="priimek" required>

            <label for="username">Uporabniško ime:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Geslo:</label>
            <input type="password" id="password" name="password" required>

            <!-- Izbira avtomobila -->
            <label for="avto">Izberi avto:</label>
            <select id="avto" name="avto" required>
                % for car in cars:
                    <option value="{{car[0]}}">
                        {{car[1]}} {{car[2]}} ({{car[3]}} KM, max {{car[4]}} km/h)
                    </option>
                % end
            </select>

            <button type="submit">Registriraj se</button>
        </form>
        
       

        <p>Že imate račun? <a href="login_uporabnika.html">Prijava</a></p>
        <a href="index2.html"><button class="gray-btn">Nazaj</button></a>
    </div>
</body>
</html>
